syntax: glob
bin/*
CMakeBuild/*
Source/latex/*
Source/html/*
.project
.cproject
.settings/*
Installers/Windows/NSIS/*.exe
VisualStudio2013/*
build
.vs
.vscode
.idea/editor.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/.name
.idea/wowmodelviewer.iml
