MAINICON                ICON                    "..\\..\\bin_support\\icons\\wmv.ico"
IDI_ICON1               ICON                    "..\\..\\bin_support\\icons\\wmv.ico"
IDI_ICON2               ICON                    "..\\..\\bin_support\\icons\\chrFile.ico"
ICON3			  		RCDATA					"..\\..\\bin_support\\icons\\wmv_16.png"
ABOUTICON				RCDATA					"..\\..\\bin_support\\icons\\wmv.xpm"
SPLASH					RCDATA					"..\\..\\bin_support\\Splash\\Splash_005_Alliance.png"
SPLASH2					RCDATA					"..\\..\\bin_support\\Splash\\Splash_005_Horde.png"