IDI_ICON1               ICON                    "..\\bin_support\\icons\\wmv.ico"
MAINICON                ICON                    "..\\bin_support\\icons\\wmv.ico"
IDI_ICON2               ICON                    "..\\bin_support\\icons\\chrFile.ico"
SPLASH					RCDATA					"..\\bin_support\\Splash\\Splash_002.png"